.container{
 
  margin-top: 5%;
  margin-left: 25%;
  width: 50%;
  height: 80%;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}

.example-viewport {
    box-sizing:border-box;
    height: 95%;
    width: 100%;
    border: none;
    background-color: rgb(199, 238, 205);
  
  }

  p {
  
    font-family: Lato;
    top: 30%;
    margin-left: 15px;
    font-size: 20px;
      
    }

  input{
  
    box-sizing:border-box;
    height: 5%;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    background-color: rgb(199, 238, 205);
    outline: none;
   
  }

  ::placeholder { 
    color: black;
    font-size: 15px;

  }